<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform processPath="node.exe" arguments=".\server\server.js" startupTimeLimit="60" startupRetryCount="3" stdoutLogEnabled="true" stdoutLogFile=".\log.txt">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
                <environmentVariable name="DB_HOST" value="mysql5048.site4now.net" />
                <environmentVariable name="DB_PORT" value="3306" />
                <environmentVariable name="DB_NAME" value="db_a7944e_triomph" />
                <environmentVariable name="DB_USER" value="a7944e_triomph" />
                <environmentVariable name="DB_PASSWORD" value="Sistemas12" />
                <environmentVariable name="JWT_SECRET" value="triomphe_jwt_super_secreto_2024" />
                <environmentVariable name="JWT_EXPIRES_IN" value="7d" />
                <environmentVariable name="EMAIL_USER" value="TriompheSistemas@gmail.com" />
                <environmentVariable name="EMAIL_PASS" value="tzxhknuvuwonzvnk" />
                <environmentVariable name="EMAIL_TO" value="TriompheSistemas@gmail.com" />
                <environmentVariable name="CLIENT_URL" value="https://triomphebienes-001-site8.ktempurl.com" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
